/* Font imports */
@font-face { font-family: 'Biotif'; src: url('../../public/font/Biotif-Regular.ttf'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Biotif'; src: url('../../public/font/Biotif-Medium.ttf'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Biotif'; src: url('../../public/font/Biotif-Bold.ttf'); font-weight: 700; font-style: normal; }

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Biotif';
    overflow-x: hidden;
}

body.nav-open { overflow-y: hidden; }

:root {
    --white: #ffffff;
    --blue: #00B2C1;
    --darkblue: #04a5b4;
    --lightblue: #DDFCFF;
    --lightblue-2: #BFEBEF;
    --black: #1F1F1F;
    --yellow: #EBB02A;
    --green: #00C177;
    --filterblue: invert(59%) sepia(33%) saturate(6893%) hue-rotate(149deg) brightness(97%) contrast(101%);
}
.evmos-logo { filter: var(--filterblue);}

.texts-t1 { font-size: 3.2rem; line-height: 1.1; font-weight: 700; }
.texts-t2 { font-size: 1.8rem; }
.texts-t3 { font-size: 1.5rem; line-height: 1; }

.texts-xl { font-size: 2rem; line-height: 1.2; }
.texts-lg { font-size: 1.4rem; }
.texts-m { font-size: 1.25rem; line-height: 1.4; }
.texts-sm { font-size: .85rem; line-height: 1.3; }
.texts-xs {  }

.buttons { background-color: var(--blue); text-decoration: none; color: var(--white); padding: 1rem 1.2rem; border-radius: 10px; transition: .25s; }
.buttons:hover { background-color: var(--darkblue); color: var(--white); transition: .25s;}

/*Modal pop-up*/
.modal { width: 65%; height: 80%; border-radius: 1rem; background-color: var(--white); top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; position: relative; }
.modal .close { border: 0; background: none; outline: none; color: var(--blue); line-height: 1; display: inline-block; position: absolute; top: 1rem; right: 1rem; }
.modal .close img { width: .8rem; height: auto; filter: var(--filterblue); }
.modal .modal-content { padding-top: 2rem; padding-bottom: 2rem; border: 0; padding-left: 1.25rem; padding-right: 1.25rem; }
/*Modal pop-up top part*/
.modal .modal-content .top {  }
.modal .modal-content .top .owner { display: inline-block; background-color: var(--black); color: var(--white); border-radius: .6rem; line-height: 1; padding: .5rem .8rem; font-size: .9rem; cursor: pointer; margin-bottom: 0; }
.modal .modal-content .top .owner img { filter: invert(100%); height: .9rem; width: auto; margin-left: .75rem; }
.modal .modal-content .top .title { color: var(--black); font-weight: bold; font-size: 1.4rem; line-height: 1; margin-bottom: 1rem; margin-top: .8rem; }
.modal .modal-content .top .description { color: var(--black); font-weight: 400; font-size: 1rem; line-height: 1.3; margin-bottom: 0; }
.modal .modal-content .top .modal-img { width: 100%; height: 100%; object-fit: cover; border-radius: .75rem; max-height: 250px; }
/*Modal pop-up middle part*/
.modal .modal-content .middle { padding: 2rem 0 1.25rem 0; }
.modal .modal-content .middle .column { flex: 1 0 0%; }
.modal .modal-content .middle .column p { color: var(--black); font-size: 1rem; line-height: 1.6; margin-bottom: 0; font-weight: 400; }
.modal .modal-content .middle .column p:first-child { font-weight: bold; }
/*Modal pop-up bottom part*/
.modal .modal-content .bottom {  }
.modal .modal-content .bottom .bottom-content { text-align: right; }
.modal .modal-content .bottom .bottom-content .create-btn { color: var(--white); border: 0; border-radius: .5rem; background-color: var(--darkblue); font-weight: 400; font-size: 1rem; display: inline; width: auto; line-height: 1; padding: .5rem 1rem; }
.modal .modal-content .bottom .title { color: var(--black); font-weight: bold; font-size: 1.35rem; line-height: 1; margin-bottom: 1rem; margin-top: .2rem; }
/*Modal pop-up table in bottom part*/
.modal .modal-content .bottom .table { background-color: var(--lightblue-2); border: 1px solid var(--blue); border-radius: 1rem; }
.modal .modal-content .bottom .table .container {  }
.modal .modal-content .bottom .table .container .row { border-bottom: 1px solid var(--blue); margin-left: .75rem; margin-right: .75rem; flex-wrap: nowrap; white-space: nowrap; width: auto; overflow-x: visible; }
.modal .modal-content .bottom .table .container .row:first-child { border-bottom: 0; margin-top: .25rem; }
.modal .modal-content .bottom .table .container .row:last-child { border-bottom: 0; }
.modal .modal-content .bottom .table .container .row .column { flex: 1 1 20%; white-space: nowrap; overflow-x: visible; width: 20%; }
.modal .modal-content .bottom .table .container .row .column:first-child { padding-left: 0; }
.modal .modal-content .bottom .table .container .row .column:last-child { padding-right: 0; }
.modal .modal-content .bottom .table .container .row .column p { margin-bottom: 0; color: var(--black); font-weight: 400; line-height: 1.75; font-size: 1rem; white-space: nowrap; }
.modal .modal-content .bottom .table .container .row:first-child .column p { font-weight: bold; }
.modal .modal-content .bottom .table .container .row .column.status p { display: inline-block; background-color: black; color: var(--white); padding: .3rem .75rem; font-size: .9rem; border-radius: .5rem; font-weight: 500; margin-bottom: 0; line-height: 1; text-align: center; }
.modal .modal-content .bottom .table .container .row .column.status p.Pending { background-color: var(--yellow); }
.modal .modal-content .bottom .table .container .row .column.status p.Paid { background-color: var(--green); }


.modal .modal-content .form-container {  }
.modal .modal-content .form-container .form { position: relative; }
.modal .modal-content .form-container .form.row {  }
.modal .modal-content .form-container .form label { display: block; width: 100%; color: var(--black); font-size: .95rem; font-weight: 400; line-height: 1; margin-bottom: .4rem; }
.modal .modal-content .form-container .form :is(input, select, textarea) { display: block; width: 100%; border-radius: .5rem; border: 1px solid var(--blue); background-color: var(--lightblue); outline: none; padding: .25rem .5rem; color: var(--blue); font-size: .95rem; font-weight: 400; line-height: 1; margin-bottom: .75rem; }
.modal .modal-content .form-container .form :is(input, select, textarea)::placeholder { color: var(--blue); font-weight: 400; font-size: .95rem; }
.modal .modal-content .form-container .form :is(input, select, textarea)::-webkit-inner-spin-button, .modal .modal-content .form-container .form :is(input, select, textarea)::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.modal .modal-content .form-container .form :is(input, select, textarea)::-webkit-calendar-picker-indicator { filter: var(--filterblue); }
.modal .modal-content .form-container .form .remove-btn { background-color: transparent; border: 0; display: block; margin: 0 auto; }
.modal .modal-content .form-container .form .remove-btn img { width: .5rem; height: auto; filter: var(--filterblue); }
.modal .modal-content .form-container .form .add-btn { background-color: transparent; border: 0; text-decoration: underline; font-size: .95rem; color: var(--blue); line-height: 1; outline: none; margin-bottom: .5rem; }


/**********Large (lg)**********/
@media (max-width: 1199.98px) {}

/**********Medium (md)**********/
@media (max-width: 991.98px) {
    .modal { width: 85%; }
    .modal .modal-content .top .modal-img {  }
}

/**********Small (sm)**********/
@media (max-width: 767.98px) {
	.texts-t1 { font-size: 2.5rem; line-height: 1.1; }
	.texts-t2 { font-size: 1.2rem; }
	.texts-t3 { font-size: 1.6rem; }

    .modal .modal-content .top .col-2 { display: none; }

    .modal .modal-content .middle { row-gap: .5rem; justify-content: space-between; }
    .modal .modal-content .middle .column { flex: 0 0 auto; }

    .modal .modal-content .bottom .table { overflow-x: auto; }
    .modal .modal-content .bottom .table .container { overflow-x: visible; display: table; }
    .modal .modal-content .bottom .table .container .row { display: table-row; }
    .modal .modal-content .bottom .table .container .row .column { display: table-cell; }
}

/**********Extra small (xs)**********/
@media (max-width: 575.98px) {
    .modal { width: 90%; }

    .modal .modal-content .top { flex-direction: column-reverse; padding-top: 1rem; gap: 1rem; }

	.texts-xl { font-size: 1.9rem; line-height: 1.2; }
	.texts-lg { font-size: 1.2rem; }
	.texts-m { font-size: 1.15rem; line-height: 1.4; }
	.texts-sm { font-size: 1rem; line-height: 1.3; }
	.texts-xs {  }

}

/*********Special*********/

