body {
    background-image: url('../../public/img/bg-color.png');
    width: 100vw;
    height: 100vh;
    /* background-position:center; */
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.main { display: flex; height: calc(100vh - 50px); align-items: center; }
.main .row { margin-left: unset; margin-right: unset; }
.main .row .left .bg-img { width: 100%; height: 100%; object-fit: contain; }
.main .row .right { padding-right: 0; padding-left: 2rem;}
.main .row .right .learn { text-decoration: none; color: var(--black); cursor: pointer;}
.main .row .right .arrow { width: auto; height: 1.25rem;}
.main .row .right .powered { color: var(--blue); }
.main .row .right .evmos-logo { height: 1.2rem;}
.title-text {  }

/**********Small (sm)**********/
@media (max-width: 767.98px) {
    .main .row .right{ padding-left: 0; } 
}