body {
    /*width: 100vw;*/
    /*height: 100vh;*/
    /* background-position:center; */
    
}

main {  }
main header { background-image: url('../../public/img/bg-color.png'); background-position: right; background-size: cover; background-repeat: no-repeat; }
main header .container { display: flex; height: calc(100vh - 50px); align-items: center; }
main header .container .row { margin-left: unset; margin-right: unset; }
main header .container .row .left .bg-img { width: 100%; height: 100%; object-fit: contain; }
main header .container .row .right { padding-right: 0; padding-left: 2rem;}
main header .container .row .right .learn { text-decoration: none; color: var(--black); cursor: pointer;}
main header .container .row .right .arrow { width: auto; height: 1.25rem;}
main header .container .row .right .powered { color: var(--blue); }
main header .container .row .right .evmos-logo { height: 1.2rem;}

main section.roadmap { min-height: 90vh; background-color: var(--white); display: flex; align-items: center; justify-content: center; align-content: center; flex-wrap: nowrap; flex-direction: column; }
main section.roadmap .roadmap-container { padding-top: 6.5rem; padding-bottom: 7rem; }
main section.roadmap .roadmap-container .title { font-size: 2.6rem; line-height: 1; color: var(--black); margin-bottom: 3.5rem; font-weight: 700; text-align: center; }
main section.roadmap .roadmap-container .content { display: flex; flex-direction: row; flex-wrap: wrap; align-content: center; justify-content: space-around; align-items: stretch; width: 80%; margin-left: auto; margin-right: auto; padding-top: .75rem; padding-bottom: .75rem; }
main section.roadmap .roadmap-container .content .cards { border: 1px solid var(--blue); border-radius: .75rem; flex: 0 0 30%; width: 30%; box-shadow: 0px 0px 25px -15px rgba(0, 178, 193, 0.75); background-image: url('../../public/img/bg-color.png'); background-repeat: no-repeat; background-attachment: local; transition: 0.5s; }
main section.roadmap .roadmap-container .content .cards:hover { transform: scale(1.01); }
main section.roadmap .roadmap-container .content .cards:nth-child(1) { background-position: left bottom; background-size: cover; }
main section.roadmap .roadmap-container .content .cards:nth-child(2) { background-position: center; background-size: cover; }
main section.roadmap .roadmap-container .content .cards:nth-child(3) { background-position: right bottom; background-size: cover; }
main section.roadmap .roadmap-container .content .cards .cards-container { padding-top: 2rem; padding-bottom: 1.8rem; background-color: rgba(255, 255, 255, .5); height: 100%; }
main section.roadmap .roadmap-container .content .cards .cards-container .subtitle { color: var(--blue); font-size: 1.6rem; font-weight: 700; line-height: 1; margin-bottom: .5rem; padding-left: .5rem; padding-right: .5rem; }
main section.roadmap .roadmap-container .content .cards .cards-container ul { padding-left: .5rem; padding-right: .5rem; margin-bottom: 0; }
main section.roadmap .roadmap-container .content .cards .cards-container ul li {  }
main section.roadmap .roadmap-container .content .cards .cards-container ul li p { margin-bottom: .5rem; color: var(--black); font-size: 1.1rem; font-weight: 400; line-height: 1.4; }


/**********Large (lg)**********/
@media (max-width: 1199.98px) {}

/**********Medium (md)**********/
@media (max-width: 991.98px) {
    main section.roadmap .roadmap-container .content { width: 100%; }
}

/**********Small (sm)**********/
@media (max-width: 767.98px) {
    main section.roadmap .roadmap-container .content .cards { flex: 0 0 90%; width: 90%; margin-bottom: 2rem; }
    main header .container .row .right { padding-left: 0; } 
}

/**********Extra small (xs)**********/
@media (max-width: 575.98px) {}
